.card {
  width: 300px;
  position: relative;
  justify-content: center;
  position: relative;
  display: flex;
  border-radius: 16px;
  border: 1px solid #0000004d;
  padding: 0;
  gap: 20px;
}

.card__name {
  font-family: "CabinetGrotesk-Bold", sans-serif;
  color: #000000;
  opacity: 60%;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  padding: 2px 15px;
}

.card__name-container {
  display: flex;
  position: absolute;
  gap: 4px;
  align-items: center;
  background-color: white;
  border-radius: 10%;
}

.card__image {
  width: 100%;
  height: 330px;
  border-radius: 14px;
  object-fit: cover;
}

.card__like-btn {
  padding: 0;
  width: 18px;
  height: 15px;
  border-style: none;
  margin: 0 15px 0 0;
  transition: 0.3s linear;
  cursor: pointer;
}

.card__like-btn:hover {
  opacity: 0.5;
}
