.header {
  display: flex;
  align-items: center;
  padding: 32px 0 28px 0;
  font-family: "CabinetGrotesk-Bold", sans-serif;
  font-weight: 700;
}

.header__logo {
  margin-right: 24px;
}

.header__add-clothes-btn {
  margin: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 20px;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
  line-height: 24px;
  font-size: 20px;
}

.header__username {
  margin: 0;
}

.header__date-and-location {
  margin: 0;
  line-height: 24px;
  font-size: 20px;
  margin-right: 550px;
}

.header__link {
  display: flex;
  text-decoration: none;
  color: #000;
  margin-left: 20px;
  flex-direction: row;
}

.header__avatar {
  width: 40px;
  height: 40px;
  border-radius: 0.5;
  margin-left: 20px;
  display: inline-flex;
}

.header__register {
  border-style: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  cursor: pointer;
  padding: 0 20px;
}

.header__login {
  border-style: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  cursor: pointer;
  padding: 0;
}
