.clothes-section {
  display: flex;
}

.clothes-section__items {
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 20px;
}

.clothes-section__buttons {
  gap: 20px;
}

.clothes-section__add-item-btn {
  font-family: "CabinetGrotesk-Bold", sans-serif;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
